{% extends "layout.html.twig" %}

{% block title %}
  Ajouter un service - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un service</h2>

  {{ include("Service/form.html.twig") }}

  <p>
    <a href="{{ path('service_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour liste
    </a>
  </p>

{% endblock %}