{% extends "layout.html.twig" %}

{% block title %}
  Ajouter d'une catégorie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter une catégorie</h2>

  {{ include("Category/form.html.twig") }}

  <p>
    <a href="{{ path('product_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour liste
    </a>
  </p>

{% endblock %}