{% extends "layout.html.twig" %}

{% block title %}
  Edition de la catégorie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Edition de la catégorie</h2>

  {{ include("Category/form.html.twig") }}

  <p>
    <a href="{{ path('category_view', {'id': category.id }) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour produit
    </a>
  </p>

{% endblock %}