{% extends "layout.html.twig" %}

{% block title %}
  Ajouter un bon de livraison - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un bon de livraison</h2>

  {{ include("Bdl/form.html.twig") }}

  <p>
    <a href="{{ path('bdl_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour liste
    </a>
  </p>

{% endblock %}