<td>{{ form_widget(form.product) }}</td>
<td>{{ form_widget(form.qty, {'attr': {'size': '10'}}) }}</td>
<td>{{ form_widget(form.qtyGift, {'attr': {'size': '10'}}) }}</td>
<td>{{ form_widget(form.forcedPrice, {'attr': {'size': '10'}}) }}</td>