{% extends "layout.html.twig" %}

{% block title %}
  Ajouter une commande - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter une commande</h2>

  {{ include("Commande/form.html.twig") }}

  <p>
    <a href="{{ path('commande_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour liste
    </a>
  </p>

{% endblock %}