{% extends "layout.html.twig" %}

{% block title %}
  Ajouter un utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un utilisateur</h2>

  {{ include("User/form.html.twig") }}

  <p>
    <a href="{{ path('user_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour liste
    </a>
  </p>

{% endblock %}